@model IEnumerable<PortfolioBlog.Models.Blog>
@{ 

    ViewData["Title"] = "Blog";
}

<h1>@ViewData["Title"]</h1>
<ul>
@foreach (var blog in Model)
{
    <li>@Html.ActionLink(blog.Title, "DisplayBlog", "Blog", blog)</li>

}
</ul>

